body{
background-color: black;
}
#box1 {
  border: 1px solid;
  height: 300px;
  width: 300px;
  background-color: aqua;

  position: relative;
  top: 200px;
  left: 300px;
}
#box2 {
  border: 1px solid;
  height: 150px;
  width: 150px;
  background-color: rgb(222, 106, 11);

  position: absolute;
  top: 75px;
  left:75px;

}
p{
color: rgb(215, 111, 14);
}